<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:replace="fragments/common :: commonHead"></th:block>
</head>
<body>
    <th:block layout:fragment="css"></th:block>
    <th:block th:replace="fragments/header :: header"></th:block>

    <div id="layoutSidenav">
        <th:block th:replace="fragments/side :: aside"></th:block>
        <div id="layoutSidenav_content">
            <main class="container-fluid">
                <th:block layout:fragment="content" class="p-2"></th:block>
            </main>
        </div>
    </div>

    <th:block layout:fragment="script"></th:block>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>