<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title th:text="${price == null ? '가격표 추가' : '가격표 수정'}"></title>
</head>
<!-- Content -->
<div layout:fragment="content">
  <div class="my-3 d-flex align-items-center justify-content-between">
    <span class="h4 me-2 fw-bold" th:text="${price == null ? '가격표 추가' : '가격표 수정'}">가격표 추가 | 수정</span>
    <a th:href="@{/prices}" class="btn btn-primary small">목록</a>
  </div>

  <form id="gallery-edit-form" th:action="${price == null ? '/prices/edit' : '/prices/edit/' + price.id}" method="post" class="card mt-3">
    <div class="card-body">
      <input type="hidden" name="priceId" th:value="${price?.id}">
      <div class="mb-3">
        <label for="target" class="form-label text-muted">교습과정</label>
        <input th:value="${price?.target}"
                type="text" class="form-control" id="target"  placeholder="교습과정을 입력해주세요" name="target">
      </div>
      <div class="mb-3">
        <label for="contents" class="form-label text-muted">총교습시간</label>
        <input type="text" class="form-control" id="contents" name="contents" placeholder="교습시간을 입력해주세요" th:value="${price?.contents}">
      </div>
      <div class="mb-3">
        <label for="w1" class="form-label text-muted">교습비</label>
        <input th:value="${price?.w1}"
               type="number" class="form-control" id="w1"  placeholder="교습비를 입력해주세요" name="w1">
        <label for="w2" class="form-label text-muted">교습비2</label>
        <input th:value="${price?.w2}"
               type="number" class="form-control" id="w2"  placeholder="교습비를 입력해주세요" name="w2">
        <label for="w3" class="form-label text-muted">교습비3</label>
        <input th:value="${price?.w3}"
               type="number" class="form-control" id="w3"  placeholder="교습비를 입력해주세요" name="w3">
        <label class="form-label text-muted">순서</label>
        <input th:value="${price?.ordr}"
               type="number" class="form-control" id="ordr"  placeholder="교습비를 입력해주세요" name="ordr">
      </div>


    </div>
    <div class="card-footer">
      <button  class="btn btn-primary">
        <th:block th:text="${price == null ? '작성' : '수정'}"></th:block>
      </button>
    </div>
  </form>

  <th:block layout:fragment="script">
    <script th:src="@{/js/prices/prices.edit.js}"></script>
  </th:block>
</div>
</html>

<!--
  번호로 매번 순서를 업데이트 하는게 낫겠다. 그냥 해당 페이지 들어가서 순서를 정하자!(SELECT 박스) -> 최대 4개가 될 수 있다.
-->