<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>가격표 수정</title>
</head>
<!-- Content -->
<div layout:fragment="content">
  <div  class="m-auto mt-3">
    <form id="gallery-edit-form" th:action method="post">
      <input type="hidden" name="noticeId" th:value="${price?.id}">
      <div class="mb-3">
        <label for="teachingCourse" class="form-label text-muted">교습과정</label>
        <input th:value="${price?.teachingCourse}"
                type="text" class="form-control" id="teachingCourse"  placeholder="교습과정을 입력해주세요" name="teachingCourse">
      </div>
      <div class="mb-3">
        <label for="teachingHour" class="form-label text-muted">총교습시간</label>
        <input type="number" class="form-control" id="teachingHour" name="teachingHour" placeholder="교습시간을 입력해주세요" th:value="${price?.teachingHour}">
      </div>
      <div class="mb-3">
        <label for="teachingExpenses" class="form-label text-muted">교습비</label>
        <input th:value="${price?.teachingExpenses}"
               type="text" class="form-control" id="teachingExpenses"  placeholder="교습비를 입력해주세요" name="teachingExpenses">
      </div>
      <div class="mb-3">
        <label class="form-label text-muted">타입</label>
        <div class="d-flex align-items-center">
          <div class="me-2">
            <label class="form-label">로봇</label>
            <input for="type-robot" type="radio" name="type" value="로봇" id="type-robot" th:checked="${price?.type == '로봇'}">
          </div>
          <div>
            <label for="type-none" class="form-label">없음</label>
            <input type="radio" name="type" value="" id="type-none" th:checked="${price?.type != '로봇'}">
          </div>
        </div>
      </div>
      <div class="border border-1 mb-3 p-3 rounded" style="border-color:#d1d2d4">
        <div class="text-secondary small mb-2">해당 영역은 지정하지 않은 경우 0을 입력하거나 빈칸으로 두시면됩니다</div>
        <div class="mb-3">
          <label for="mockTestCost" class="form-label text-muted">모의고사비</label>
          <input th:value="${price?.mockTestCost}"
                 type="number" class="form-control" id="mockTestCost"  placeholder="모의고사비를 입력해주세요" name="mockTestCost">
        </div>
        <div class="mb-3">
          <label for="materialCost" class="form-label text-muted">재료비</label>
          <input th:value="${price?.materialCost}"
                 type="number" class="form-control" id="materialCost"  placeholder="재료비를 입력해주세요" name="materialCost">
        </div>
        <div class="mb-3">
          <label for="clothesCost" class="form-label text-muted ">피복비</label>
          <input th:value="${price?.clothesCost}"
                 type="number" class="form-control" id="clothesCost"  placeholder="피복비를 입력해주세요" name="clothesCost">
        </div>
        <div class="mb-3">
          <label for="lunchMoney" class="form-label text-muted">급식비</label>
          <input th:value="${price?.lunchMoney}"
                 type="number" class="form-control" id="lunchMoney"  placeholder="급식비를 입력해주세요" name="lunchMoney">
        </div>
        <div class="mb-3">
          <label for="boardingExpenses" class="form-label text-muted">기숙사비</label>
          <input th:value="${price?.boardingExpenses}"
                 type="number" class="form-control" id="boardingExpenses"  placeholder="기숙사비 입력해주세요" name="boardingExpenses">
        </div>
        <div class="mb-3">
          <label for="carCost" class="form-label text-muted">차량비</label>
          <input th:value="${price?.carCost}"
                 type="number" class="form-control" id="carCost"  placeholder="차량비를 입력해주세요" name="carCost">
        </div>
      </div>
      <div>
        <button  class="btn btn-primary">
          <th:block th:text="${price == null ? '작성' : '수정'}"></th:block>
        </button>
      </div>
    </form>
  </div>
</div>
</html>